name: Packer Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  packer:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Packer
        run: |
          PACKER_VERSION="1.11.0"
          sudo apt-get update -y
          sudo apt-get install -y unzip
          curl -fsSL -o packer.zip "https://releases.hashicorp.com/packer/${PACKER_VERSION}/packer_${PACKER_VERSION}_linux_amd64.zip"
          unzip packer.zip
          sudo mv packer /usr/local/bin/
          packer --version

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "ap-southeast-2" # Optionally include this if you're using a specific region

      - name: Run Packer Build
        run: |
          packer init aws-ubuntu.pkr.hcl
          packer validate aws-ubuntu.pkr.hcl
          packer fmt aws-ubuntu.pkr.hcl
          packer build aws-ubuntu.pkr.hcl
